# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.pdb
*.log
RFIDAPI.VC.db
RFIDAPI.VC.VC.opendb
*.ilk
*.exp
*.user
*.props
*.ipch
*.sln
*.exp
*.suo
Debug/
/moc
HTDEMO/ui_writeeidform.h
HTDEMO/ui_workdpacedlg.h
HTDEMO/ui_weigenconfigform.h
HTDEMO/ui_versioncommondlg.h
HTDEMO/ui_uploadpramform.h
HTDEMO/ui_tagopdialog.h
HTDEMO/ui_tagfilterform.h
HTDEMO/ui_tabuploadform.h
HTDEMO/ui_tabsysinfoform.h
HTDEMO/ui_tabparamconfigform.h
HTDEMO/ui_tabconnetinfoform.h
HTDEMO/ui_tabapplyinfoform.h
HTDEMO/ui_softconfigdlg.h
HTDEMO/ui_rebootdeviceform.h
HTDEMO/ui_readwritedataform.h
HTDEMO/ui_readertimesetdlg.h
HTDEMO/ui_readerinfo6cform.h
HTDEMO/ui_readconfigfor6cdlg.h
HTDEMO/ui_readcardfor6cdlg.h
HTDEMO/ui_qvaluedlg.h
HTDEMO/ui_pwdsetform.h
HTDEMO/ui_progressbardlg.h
HTDEMO/ui_pointconfigform.h
HTDEMO/ui_paramconfigfor6cdlg.h
HTDEMO/ui_paramadd6cdlg.h
HTDEMO/ui_oplistdlg.h
HTDEMO/ui_netconfigfor6cdlg.h
HTDEMO/ui_mainwindow.h
HTDEMO/ui_lockopform.h
HTDEMO/ui_languagesetdlg.h
HTDEMO/ui_ioconfigfor6cdlg.h
HTDEMO/ui_helpfor6cdlg.h
HTDEMO/ui_guidemaindlg.h
HTDEMO/ui_gprsconfigdlg.h
HTDEMO/ui_flashconfigfor6cdlg.h
HTDEMO/ui_firmwareupdatefor6cdlg.h
HTDEMO/ui_findtagform.h
HTDEMO/ui_filtratetagfor6cdlg.h
HTDEMO/ui_connetdlg.h
HTDEMO/ui_comconfigdlg.h
HTDEMO/ui_carrierconfigform.h
HTDEMO/ui_busaddrconfigdlg.h
HTDEMO/ui_antennaprmform.h
bin/RFIDAPI.exp
