# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.pdb
*.log
RFIDAPI.VC.db
RFIDAPI.VC.VC.opendb
*.ilk
*.exp
*.user
*.props
*.ipch
*.ipch
*.sln
*.sln
*.sln
*.sln
*.sln
*.exp
*.exp
Debug/
/moc
